.react-markdown--slate-content {
  display: flex;
  justify-content: stretch;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  overflow: auto;
  height: 100%;
  position: relative;
  font-size: 14px;
  font-family: Ubuntu Mono, Monaco, monospace;
}


.react-markdown--slate-content > div {
  // https://github.com/OpusCapita/react-markdown/issues/41
  // Could not position cursor to the Markdown Input if value is empty
  flex: 1 0;
}

.react-markdown--slate-content__editor {
  min-height: 100%;
}
